.section_0._hidden{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s ease 1s;
}

    .section_0._hidden::before{
        background-color: #ba94de;
        transition: background 0.5s ease 0.5s;
    }

    .section_0._hidden::after{
        opacity: 0;
        transition: opacity 0.5s ease 0.6s;
    }

    .section_0._hidden .block_welcome{
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease 0s;
    }


.section_1{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

    .section_1._active{
        opacity: 1;
        pointer-events: painted;
    }

    .section_1 .block_image{
        opacity: 0;
        transition: opacity 0.5s ease 0.5s;
    }

        .section_1._active .block_image{
            opacity: 1;
        }

    .section_1 .block_text{
        opacity: 0;
        transition: opacity 0.5s ease 2.3s;
    }

        .section_1._active .block_text{
            opacity: 1;
        }


    .section_1 .block_buttons_right .button_arrow_up{
        opacity: 0;
        transition: opacity 0.5s ease 2s;
    }

        .section_1._active .block_buttons_right .button_arrow_up{
            opacity: 1;
        }

    .section_1 .block_buttons_right .button_circle{
        opacity: 0;
    }

        .section_1._active .block_buttons_right .button_circle{
            opacity: 1;
        }

    .section_1 .block_buttons_right .button_arrow_down{
        opacity: 0;
        transition: opacity 0.5s ease 2.2s;
    }

        .section_1._active .block_buttons_right .button_arrow_down{
            opacity: 1;
        }


    .section_1 .block_buttons_left .button_arrow_up{
        opacity: 0;
        transition: opacity 0.5s ease 2s;
    }

        .section_1._active .block_buttons_left .button_arrow_up{
            opacity: 1;
        }

    .section_1 .block_buttons_left .button_arrow_down{
        opacity: 0;
        transition: opacity 0.5s ease 2.1s;
    }

        .section_1._active .block_buttons_left .button_arrow_down{
            opacity: 1;
        }


    .section_1 .block_link{
        opacity: 0;
        transition: opacity 0.5s ease 2.3s;
    }

        .section_1._active .block_link{
            opacity: 1;
        }

    .section_1 .block_link_phone{
        opacity: 0;
        transition: opacity 0.5s ease 2.5s;
    }

        .section_1._active .block_link_phone{
            opacity: 1;
        }



.swap{
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

    .swap._active{
        opacity: 1;
        pointer-events: painted;
    }

    .swap .block_image img{
        opacity: 0;
        transform: translate(0%, 3%);
        transition: all 0.5s ease 0.5s;
    }

        .swap._active .block_image img{
            opacity: 1;
            transform: translate(0%, 0%);
        }

    .swap .block_text h1{
        opacity: 0;
        transform: translate(0%, 10%);
        transition: all 1s ease 0s;
    }

        .swap._active .block_text h1{
            opacity: 1;
            transform: translate(0%, 0%);
        }

    .swap .block_text .block_number{
        opacity: 0;
        transform: translate(0%, 10%);
        transition: all 1s ease 0s;
    }

        .swap._active .block_text .block_number{
            opacity: 1;
            transform: translate(0%, 0%);
        }

    .swap .block_text .block_buttons{
        opacity: 0;
        transform: translate(0%, 10%);
        transition: all 1s ease 0s;
    }

        .swap._active .block_text .block_buttons{
            opacity: 1;
            transform: translate(0%, 0%);
        }