@media only screen and (max-width : 1000px){
    .section_1 .swap .block_buttons_right .button_circle img{
        width: 100px;
        height: 100px;
    }


    .section_1 .swap .block_buttons_right .button_arrow_up{
        width: 55px;
        height: 55px;
    }

        .section_1 .swap .block_buttons_right .button_arrow_up .block_name h1 {
            font-size: calc(var(--sizeindex) * 0.9);
        }

    .section_1 .swap .block_buttons_right .button_arrow_down{
        width: 55px;
        height: 55px;
    }

        .section_1 .swap .block_buttons_right .button_arrow_down .block_name h1 {
            font-size: calc(var(--sizeindex) * 0.9);
        }


    .section_1 .swap .block_buttons_left {
        left: 7%;
    }

        .section_1 .swap .block_buttons_left .button_arrow_up{
            width: 55px;
            height: 55px;
        }

            .section_1 .swap .block_buttons_left .button_arrow_up .block_name h1 {
                font-size: calc(var(--sizeindex) * 0.9);
            }

        .section_1 .swap .block_buttons_left .button_arrow_down{
            width: 55px;
            height: 55px;
        }

            .section_1 .swap .block_buttons_left .button_arrow_down .block_name h1 {
                font-size: calc(var(--sizeindex) * 0.9);
            }


    .section_1 .swap .block_buttons_right .button_circle .block_button{
        font-size: calc(var(--sizeindex) * 0.9);
    }

        .section_1 .swap .block_buttons_right .button_circle .block_button span{
            font-size: calc(var(--sizeindex) * 1.2);
        }
        

    .section_1 .swap .block_text {
        top: 70%;
    }

        .section_1 .swap .block_text h1 {
            font-size: calc(var(--sizeindex) * 3);
        }


    .section_1 .swap .block_link ul li {
        font-size: calc(var(--sizeindex) * 0.65);
    }

    .section_1 .swap .block_link ul .button a {
        font-size: calc(var(--sizeindex) * 0.6);
    }



    .section_2 .block_button_center .button_exit .block_name h1 {
        font-size: calc(var(--sizeindex) * 0.9);
    }

    .section_2 ul li h4 {
        font-size: calc(var(--sizeindex) * 1.2);
    }

    .section_2 ul li h2 {
        font-size: calc(var(--sizeindex) * 2.3);
    }

    .section_2 ul li span {
        font-size: calc(var(--sizeindex) * 0.75);
    }



    .section_3 .block_info .block_button_center .button_exit{
        width: 55px;
        height: 55px;
    }

    .section_3 .block_info .block_hrefs .block_href_img a {
        font-size: calc(var(--sizeindex) * .85);
    }

        .section_3 .block_info .block_hrefs .block_href_img a span {
            font-size: calc(var(--sizeindex) * .65);
        }


    .section_3 .block_info .block_heading {
        font-size: calc(var(--sizeindex) * 1.7);
    }

    .section_3 .block_info_2 .block_heading_text {
        font-size: calc(var(--sizeindex) * 1.6);
    }

    .section_3 .block_info_2 .block_images img {
        width: calc(var(--sizeindex) * var(--side-big) * 0.33);
        height: calc(var(--sizeindex) * var(--side-small) * 0.3);
    }

    .section_3 .block_info_2 .block_text {
        font-size: calc(var(--sizeindex) * 1.1);
        margin: 0 0 3vh 0;
    }

    
    .section_3 .block_info_4 .block_heading_text {
        font-size: calc(var(--sizeindex) * 1.6);
    }

    .section_3 .block_info_4 .block_text {
        font-size: calc(var(--sizeindex) * 1.1);
        margin: 0 0 3vh 0;
    }

    .section_3 .block_info_4 .href {
        font-size: calc(var(--sizeindex) * 1);
    }

    .section_3 .block_info_4 ul a {
        font-size: calc(var(--sizeindex) * 0.9) !important;
    }


    .section_3 .block_info_5 .block_heading_text {
        font-size: calc(var(--sizeindex) * 1.6);
    }

    .section_3 .block_info_5 .block_sharing .share:nth-child(1) a {
        font-size: calc(var(--sizeindex) * .7);
    }

    .section_3 .block_info_5 .block_text {
        font-size: calc(var(--sizeindex) * 1.1);
        margin: 0 0 3vh 0;
    }

    .section_3 .block_info_5 .href {
        font-size: calc(var(--sizeindex) * 1);
    }

    .section_3 .block_info_5 .block_hrefs .block_href_img a {
        font-size: calc(var(--sizeindex) * .85);
    }

        .section_3 .block_info_5 .block_hrefs .block_href_img a span {
            font-size: calc(var(--sizeindex) * .65);
        }

    .section_3 .block_info_5 .disclaimer {
        font-size: calc(var(--sizeindex) * 1.1);
    }



    .section_4 .block_info {
        max-width: 500px;
    }

        .section_4 .block_info .block_button_center .button_exit{
            width: 55px;
            height: 55px;
        }

        .section_4 .block_info ul li {
            font-size: calc(var(--sizeindex) * 0.6);
        }

        .section_4 .block_info .block_heading_text {
            font-size: calc(var(--sizeindex) * 1.3);
        }
        
        .section_4 .block_info .block_text {
            font-size: calc(var(--sizeindex) * 1);
        }

        .section_4 .block_info .block_buttons .statistic {
            font-size: calc(var(--sizeindex) * 0.8);
        }

            .section_4 .block_info .block_buttons .statistic span {
                top: 12%;
            }

        .section_4 .block_info .block_buttons .href {
            font-size: calc(var(--sizeindex) * 0.8);
        }

            .section_4 .block_info .block_buttons .href span {
                top: 11%;
            }


        .section_4 .block_info .block_info_statistic .block_buttons li .button_arrow .block_name h1 {
            font-size: calc(var(--sizeindex) * 1);
            }

        .section_4 .block_info .block_info_statistic .block_buttons li .line_link {
            font-size: calc(var(--sizeindex) * 0.9);
        }

        .section_4 .block_info .block_info_statistic .block_chart_info p {
            font-size: calc(var(--sizeindex) * 4.5);
        }

            .section_4 .block_info .block_info_statistic .block_chart_info span {
                font-size: calc(var(--sizeindex) * 0.7);
            }

        .section_4 .block_info .block_info_statistic .block_chart_info ul li p {
            font-size: calc(var(--sizeindex) * 1.5);
        }

        .section_4 .block_info .block_info_statistic .block_buttons li:last-child p {
            font-size: calc(var(--sizeindex) * 0.6);
        }


        .section_4 .block_video .block_video_content .block_button_video_close .close{
            width: 55px;
            height: 55px;
        }

}

@media only screen and (max-width : 750px), (max-height: 500px){
    .swap .block_text .block_number{
        display: none;
    }
    
        .swap._active .block_text .block_number{
            display: none;
        }

    .swap._active .block_text .name{
        font-size: calc(var(--sizeindex) * 3.2);
    }

    .swap .block_text .block_buttons{
        display: none;
    }

        .swap._active .block_text .block_buttons{
            display: none;
        }
}

@media only screen and (max-width : 700px), (max-height: 500px){
    .section_0 .block_initial h1 {
        font-size: calc(var(--sizeindex) * 1.5);
    }

    .section_0 .block_initial p {
        font-size: calc(var(--sizeindex) * 1);
    }


    .section_0 .block_welcome h1 {
        font-size: calc(var(--sizeindex) * 3);
    }

    .section_0 .block_welcome .text_info {
        font-size: calc(var(--sizeindex) * 2);
    }

    .section_0 .block_welcome p {
        font-size: calc(var(--sizeindex) * 1.2);
    }

    .section_0 .block_welcome a {
        font-size: calc(var(--sizeindex) * 1.2);
    }



    .section_1 .swap .block_image {
        top: 55%;
    }

        .section_1 .swap .block_image img {
            width: calc(var(--sizeindex) * var(--side-big) * 2.5);
            height: calc(var(--sizeindex) * var(--side-small) * 2.25);
        }



    .section_1 .swap .block_buttons_left {
        top: 16%;
    }

        .section_1 .swap .block_buttons_left .button_arrow_up {
            background: none;
        }
        
            .section_1 .swap .block_buttons_left .button_arrow_up span{
                background: url("../image/texture/ui_all.png") no-repeat center center/32px 10px;
            }

            .section_1 .swap .block_buttons_left .button_arrow_up .block_name{
                background: none;
            }

        .section_1 .swap .block_buttons_left .button_arrow_down {
            top: 0%;
            transform: translate(100%, -140%);
            background: none;
        }

            .section_1 .swap .block_buttons_left .button_arrow_down._active{
                transform: translate(100%, -140%) scale(1.05) !important;
            }

            .section_1 .swap .block_buttons_left .button_arrow_down .button_arrows .arrow_1 {
                top: 34%;
                left: 52%;
              }

                .section_1 .swap .block_buttons_left .button_arrow_down .button_arrows .arrow_1::before {
                    height: 13px;
                    width: 4px;
                    margin: -12px 0 0 0px;
                }

                .section_1 .swap .block_buttons_left .button_arrow_down .button_arrows .arrow_1::after {
                    height: 13px;
                    width: 4px;
                    margin: -8px 0 0 -4px;
                }

                .section_1 .swap .block_buttons_left .button_arrow_down .button_arrows .arrow_1 div::before {
                    height: 20px;
                    width: 4px;
                    margin: -8px 0 0 4px;
                }

                .section_1 .swap .block_buttons_left .button_arrow_down .button_arrows .arrow_1 div::after {
                    height: 10px;
                    width: 4px;
                    margin: 5px 0 0 7px;
                }


                .section_1 .swap .block_buttons_left .button_arrow_stop .button_arrows .arrow_1 div::before {
                    height: 23px;
                    width: 6px;
                    margin: -4px 0 0 4px;
                }

                .section_1 .swap .block_buttons_left .button_arrow_stop .button_arrows .arrow_1 div::after {
                    height: 22px;
                    width: 6px;
                    margin: -12px 0 0 -5px;
                }

            .section_1 .swap .block_buttons_left .button_arrow_down .button_arrows .arrow_2 {
                top: 61%;
                left: 47%;
            }

                .section_1 .swap .block_buttons_left .button_arrow_down .button_arrows .arrow_2::before {
                    height: 13px;
                    width: 4px;
                    margin: -12px 0 0 0px;
                }

                .section_1 .swap .block_buttons_left .button_arrow_down .button_arrows .arrow_2::after {
                    height: 13px;
                    width: 4px;
                    margin: -8px 0 0 -4px;
                }

                .section_1 .swap .block_buttons_left .button_arrow_down .button_arrows .arrow_2 div::before {
                    height: 20px;
                    width: 4px;
                    margin: -8px 0 0 4px;
                }

                .section_1 .swap .block_buttons_left .button_arrow_down .button_arrows .arrow_2 div::after {
                    height: 10px;
                    width: 4px;
                    margin: 5px 0 0 7px;
                }


                .section_1 .swap .block_buttons_left .button_arrow_stop .button_arrows .arrow_2 div::before {
                    height: 22px;
                    width: 6px;
                    margin: -3px 0 0 5px;
                }

                .section_1 .swap .block_buttons_left .button_arrow_stop .button_arrows .arrow_2 div::after {
                    height: 22px;
                    width: 6px;
                    margin: -14px 0 0 -4px;
                }

            .section_1 .swap .block_buttons_left .button_arrow_down .block_name{
                background: none;
            }



    .section_1 .swap .block_buttons_right {
        right: 15%;
        top: 5%;
        transform: translate(-15%, -5%);
    }

        .section_1 .swap .block_buttons_right .button_circle {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .section_1 .swap .block_buttons_right .button_circle .block_button{
                display: none;
            }

            .section_1 .swap .block_buttons_right .button_circle::after{
                content: "!";
                position: absolute;
                font-size: calc(var(--sizeindex) * 3);
                color: var(--main-bg-color);
                text-indent: 0;
            }

            .section_1 .swap .block_buttons_right .button_circle img {
                width: 55px;
                height: 55px;
            }


        .section_1 .swap .block_buttons_right .button_arrow_up {
            bottom: 0%;
            transform: translate(-120%, 0%);
        }

            .section_1 .swap .block_buttons_right .button_arrow_up .block_name{
                display: none;
            }

            .section_1 .swap .block_buttons_right .button_arrow_up span {
                transform: rotate(-90deg);
            }
            


        .section_1 .swap .block_buttons_right .button_arrow_down {
            top: 0%;
            transform: translate(120%, 0%);
        }

            .section_1 .swap .block_buttons_right .button_arrow_down .block_name{
                display: none;
            }

            .section_1 .swap .block_buttons_right .button_arrow_down span {
                transform: rotate(-90deg);
            }



    .section_1 .swap .block_text {
        top: 80%;
        justify-content: left;
    }

        .section_1 .swap .block_text h1 {
            font-size: calc(var(--sizeindex) * 2.3) !important;
            letter-spacing: 2px;
            margin: 0 3vh 0 5vh;
        }

    .section_1 .swap .block_link {
        display: none;
    }



    .section_1._expansion .block_image{
        transform: translate(-50%, -60%) scale(0.9) !important;
        opacity: 0 !important;
    }
    
    .section_1._expansion .block_buttons_left .button_arrow_up{
        transform: translate(-50%, -40%) !important;
        opacity: 0 !important;
    }
    
    .section_1._expansion .block_buttons_left .button_arrow_down{
        transform: translate(50%, -140%) !important;
        opacity: 0 !important;
    }
    
    .section_1._expansion .block_buttons_right .button_arrow_up{
        transform: translate(-100%, 0%) !important;
        opacity: 0 !important;
    }
    
    .section_1._expansion .block_buttons_right .button_circle{
        transform: translate(50%, 0%) !important;
        opacity: 0 !important;
    }
    
    .section_1._expansion .block_buttons_right .button_arrow_down{
        transform: translate(150%, 0%) !important;
        opacity: 0 !important;
    }

    
    .section_1 .swap .block_link_phone a{
        display: flex;
        bottom: 14%;
    }



    .section_2 .block_button_center .button_exit .block_name{
        display: none;
    }



    .section_3 .block_info {
        max-width: 500px;
    }

        .section_3 .block_info .block_heading {
            font-size: calc(var(--sizeindex) * 2);
        }


        .section_3 .block_info_2 .block_heading_text {
            font-size: calc(var(--sizeindex) * 1.9);
        }

        .section_3 .block_info_2 .block_text {
            font-size: calc(var(--sizeindex) * 1.5);
        }


        .section_3 .block_info_3 .block_heading_text {
            font-size: calc(var(--sizeindex) * 1.9);
        }

        .section_3 .block_info_3 .block_text {
            font-size: calc(var(--sizeindex) * 1.5);
        }

        .section_3 .block_info_3 ul a {
            font-size: calc(var(--sizeindex) * 1.2) !important;
        }

        .section_3 .block_info_3 .disclaimer {
            font-size: calc(var(--sizeindex) * 1.3);
        }


        .section_3 .block_info_4 .block_heading_text {
            font-size: calc(var(--sizeindex) * 1.9);
        }

        .section_3 .block_info_4 .block_text {
            font-size: calc(var(--sizeindex) * 1.5);
        }

            .section_3 .block_info_4 .href {
                font-size: calc(var(--sizeindex) * 1.4);
            }

        .section_3 .block_info_4 ul a {
            font-size: calc(var(--sizeindex) * 1.2) !important;
        }


        .section_3 .block_info_5 .block_heading_text {
            font-size: calc(var(--sizeindex) * 1.9);
        }

        .section_3 .block_info_5 .block_sharing .share:nth-child(1) a {
            font-size: calc(var(--sizeindex) * 1);
        }

        .section_3 .block_info_5 .block_text {
            font-size: calc(var(--sizeindex) * 1.5);
        }

            .section_3 .block_info_5 .href {
                font-size: calc(var(--sizeindex) * 1.4);
            }

        .section_3 .block_info_5 .block_hrefs .block_href_img a {
            font-size: calc(var(--sizeindex) * 1.2);
        }

            .section_3 .block_info_5 .block_hrefs .block_href_img a span {
                font-size: calc(var(--sizeindex) * 1);
            }

        .section_3 .block_info_5 .disclaimer {
            font-size: calc(var(--sizeindex) * 1.3);
        }

        

    .section_4{
        overflow-y: scroll;
        overflow-x: hidden;
    }

        .section_4 .block_info .block_button_center{
            height: 100px;
        }

            .section_4 .block_info .block_button_center .button_exit{
                top: 50px;
            }

        .section_4 .block_info ul li{
            font-size: calc(var(--sizeindex) * 0.9);
        }

        .section_4 .block_info .block_heading_text{
            font-size: calc(var(--sizeindex) * 1.7);
        }
        
        .section_4 .block_info .block_text{
            font-size: calc(var(--sizeindex) * 1.2);
        }

        .section_4 .block_info .block_buttons{
            display: block;
        }

            .section_4 .block_info .block_buttons li{
                display: block;
                margin: 2vh 0;
            }

            .section_4 .block_info .block_buttons .button_video{
                font-size: calc(var(--sizeindex) * 1.2);
                display: block;
                width: 80%;
                padding: 2vh 3.5vh 2vh 3vh;
                margin: 0 auto;
                text-align: center;
            }

            .section_4 .block_info .block_buttons .statistic{
                font-size: calc(var(--sizeindex) * 1.2);
                display: block;
                width: 100%;
                text-align: center;
            }

                .section_4 .block_info .block_buttons .statistic span{
                    display: none;
                }

            .section_4 .block_info .block_buttons .href{
                font-size: calc(var(--sizeindex) * 1.2);
                display: block;
                width: 100%;
                text-align: center;
                padding: 0;
            }

                .section_4 .block_info .block_buttons .href span{
                    display: none;
                }


        .section_4 .block_info .block_info_statistic {
            display: block;
            margin-top: 20%;
        }

            .section_4 .block_info .block_info_statistic .block_buttons {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
            }

                .section_4 .block_info .block_info_statistic .block_buttons li:first-child{
                    display: flex;
                    justify-content: center;
                }

                    .section_4 .block_info .block_info_statistic .block_buttons li .button_arrow .block_name h1{
                        font-size: calc(var(--sizeindex) * 1);
                    }

                .section_4 .block_info .block_info_statistic .block_buttons li .line_link span {
                    transform: rotate(90deg);
                    top: 50%;
                    right: -15px;
                }

                .section_4 .block_info .block_info_statistic .block_buttons li:last-child p {
                    font-size: calc(var(--sizeindex) * 0.9) !important;
                }              

            .section_4 .block_info .block_info_statistic .block_chart_info{
                margin: 0;
            }

                .section_4 .block_info .block_info_statistic .block_chart_info p {
                    font-size: calc(var(--sizeindex) * 4.5);
                    justify-content: center;
                }

                    .section_4 .block_info .block_info_statistic .block_chart_info span {
                        font-size: calc(var(--sizeindex) * 0.7);
                        text-align: center;
                    }

                .section_4 .block_info .block_info_statistic .block_chart_info ul li{
                    margin: 0;
                    padding: 0 3vh 1vh 3vh;
                }

                    .section_4 .block_info .block_info_statistic .block_chart_info ul li p {
                        font-size: calc(var(--sizeindex) * 1.5);
                    }

                    .section_4 .block_info .block_info_statistic .block_buttons li:last-child p {
                        font-size: calc(var(--sizeindex) * 0.6);
                    }

}

@media only screen and (max-width : 480px){
    .section_1 .swap .block_text {
        width: 80%;
    }

    .section_1 .swap .block_buttons_right {
        right: 20%;
    }

    .section_3 .block_info_4 .href {
        text-align: center;
    }
}

@media only screen and (max-height: 500px){
    .section_1 .swap .block_image img {
        width: calc(var(--sizeindex) * var(--side-big) * 2);
        height: calc(var(--sizeindex) * var(--side-small) * 1.85);
    }

    .section_1 .swap .block_buttons_left {
        top: 25%;
    }

    .section_4 .block_info .block_text {
        line-height: 4vh;
    }
}