.section_1 .swap_1{
    background-color: #ba94de;
}

.section_1 .swap_2{
    background-color: #64d6e2;
}

.section_1 .swap_3{
    background-color: #FDAED4;
}

.section_1 .swap_4{
    background-color: #785ebb;
}

.section_1 .swap_5{
    background-color: #a09de5;
}

.section_1 .swap_6{
    background-color: #A0CADB;
}

.section_1 .swap_7{
    background-color: #79BBB5;
}

.section_1 .swap_8{
    background-color: #F6D860;
}

.section_1 .swap_9{
    background-color: #9988CD;
}

.section_1 .swap_10{
    background-color: #EDB948;
}

.section_1 .swap_11{
    background-color: #FDACB4;
}

.section_1 .swap_12{
    background-color: #dbbe39;
}

.section_1 .swap_13{
    background-color: #DFBC94;
}

.section_1 .swap_14{
    background-color: #3CCAD1;
}

.section_1 .swap_15{
    background-color: #F68F6F;
}

.section_1 .swap_16{
    background-color: #9787EA;
}

.section_1 .swap_17{
    background-color: #ccc5e3;
}

.section_1 .swap_18{
    background-color: #FD9372;
}

.section_1 .swap_19{
    background-color: #9B7AD5;
}

.section_1 .swap_20{
    background-color: #de89ac;
}

.section_1 .swap_21{
    background-color: #98BFF6;
}

.section_1 .swap_22{
    background-color: #FEC54F;
}

.section_1 .swap_23{
    background-color: #9784ED;
}

.section_1 .swap_24{
    background-color: #F4C3C5;
}

.section_1 .swap_25{
    background-color: #63C5AB;
}

.section_1 .swap_26{
    background-color: #F4696B;
}

.section_1 .swap_27{
    background-color: #E794AE;
}

.section_1 .swap_28{
    background-color: #9B7FE6;
}

.section_1 .swap_29{
    background-color: #EF9F64;
}

.section_1 .swap_30{
    background-color: #87C4A3;
}